@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Light mode text color */
  --background-rgb: 250, 250, 250; /* Even lighter background color */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Use a single solid background color */
  transition: none; /* Disable transition */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ::-webkit-scrollbar {
  display: none;
} */

/*
div.overflow-auto::-webkit-scrollbar {
  width: 8px; 
}

div.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; 
  border-radius: 4px;
}

div.overflow-auto::-webkit-scrollbar-track {
  background: #e0e0e0;
} */


